* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

*:focus {
    outline: none;
}

@font-face {
    font-family: OdinFont;
    src: url(Norse-Bold.otf);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
/*
body > .content-container > *{
    border: solid 1px red;
}
*/

.img-container {
    border: solid 1px blueviolet;
    color: white;
    
    width: 500px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    text-align: center;

    background-image: url(img/snow-town.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}   



.odin-text-container {
    margin-top: 175px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(18, 19, 18, 0.45) 
    
}

.odin-logo {
    width: 80px;
    height: 90px;

}

.odin-text {
    font-family: OdinFont;
    font-size: 70px;
}


.photo-credit {
    /* margin-bottom: auto; */
}

.content-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: space-between;
}

.header-container {
    
    /* height: 276px; */
    height: 33vh;
    font-family: 'Times New Roman', Times, serif;
    color: #1e1e1e;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #f9fafb;
}

.header-text {
    flex: 0 1 auto;
    max-width: 800px;
    margin-left: 50px;
}

.h-text2 {
    margin-bottom: 30px;
}

.h-text3 {
    margin-bottom: 50px;
}

.sign-up-container {
    height: 33vh;
    background-color: white;
}

.form-container {
    display: flex;
    flex-direction: row;
    
}

.sign-up-text {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: #1e1e1e;
    font-size: 24px;
    font-weight: 600;

}

.fbox {
    display: flex;
    flex-direction: column; 
}

.form1 {
    margin-left: 50px;
}

.form2 {
    margin-left: 70px;
}



input {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    width: 250px;
    height: 25px;
    margin-bottom: 20px;
}

input.password {
    margin-bottom: 0px;
}

input:focus {
    border: 2px solid darkblue;
    
}

input.password:invalid {
    border: 2px solid red;
}

input.password:focus:invalid {
    border: 2px solid darkblue;
}

input.password:invalid + span::after {
    font-size: 14px;
    color: red;
    content: "* Passwords do not match"
}


label {
    letter-spacing: 1px;
    margin-bottom: 3px;
    font-size: 14px;
}



.create-account-container {
    height: 33vh;
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
}



.button {
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 30px;

    flex: none;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    background-color: #596D48;
    width: 200px;
    

    padding: 10px 0px 10px 0px;
    text-align: center;
}

.account-text {
    font-size: 18px;
    margin-left: 50px;
    font-weight: 600;
}

.login-text {
    color: #596D48;
}